html {
    font-size: 0.688rem;
}

body {
    font-family: "Helvetica Neue";
    margin: 0;
    background-color: #485861;
    color: #FFE6CF;
    line-height: 1.4;
    font-weight: 500;
    overflow-x: hidden;
    -webkit-text-size-adjust: none;
}

h1 {
    font-size: 2.727rem;
    font-weight: normal;
    line-height: 1;
    margin: 0;
}

p{
    margin:0;
}

ul,li{
    padding:0;
    margin:0;
    list-style: none;
}

