html {
    font-size: 0.688rem;
}

body {
    font-family: "Helvetica Neue";
    margin: 0;
    background-color: #485861;
    color: #FFE6CF;
    line-height: 1.4;
    font-weight: 500;
    overflow-x: hidden;
    -webkit-text-size-adjust: none;
}

h1,h2,h3,h4,h5,h6{
    margin:0;
    font-weight: normal;
    line-height: 1;
}

h1 {
    font-size: 2.727rem;
}

h2{
    font-size:2.182rem;
}

p{
    margin:0;
}

ul,li{
    padding:0;
    margin:0;
    list-style: none;
}

input{
    background-color:rgba(255,255,255,0.08);
    border:none;
    height:40px;
    color:white;
    text-align: center;
    border-radius: 8px;
    font-size:14px;
    transition: 0.2s;
}

input::placeholder{
    color:rgba(255,255,255,0.3);
    text-align: center;
}

input:focus{
    outline: none;
    background-color:rgba(255,255,255,0.12);
}

/* 버튼 초기화 */
button{
    background-color:transparent;
    border:none;
    color:#FFE6CF;
    font-size:15px;
    outline: none;
}
